* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Anton', sans-serif;
}

/*Landing Styling*/

.main {
	height: 100vh;
	background-image: url("../images/landing-bg.jpg");
	background-position: center;
	background-size: cover;
}

.jumbotron {
	background-color: transparent;
}

/*End Landing Styling*/

/*Home Styling*/

	/*Navbar Styling*/
	.navbar {
		background-color: #141414;
		width: 100%;
		min-height: 7vh;
		border-bottom: 0.5vh solid #FF7400;
	}

		#navbar-toggler {
			border: none; 
		}

		#toggler-icon {
			background-image: url("../images/menu-icon.png");
			background-position: center;
			background-size: cover;
		}


		.navbar a {
			color: #FF7400;
			font-family: 'Anton', sans-serif;
		}

			.navbar-nav {
				padding-right: 0;
			}

	/*End Navbar Styling*/

	.home-banner {
		min-height: 60vh;
		background-image: url(../images/team-banner.jpg);
		background-position: top;
		background-size: cover;

	}

		.banner-text {
			color: black;
			font-size: 2.3rem;
			font-family: 'Fjalla One', sans-serif;
			/*font-weight: 700;*/
			background-color: rgba(247, 156, 138, 0.3);
		}

	.home-about {
		min-height: 33vh;
		background-color: #e3e4e5;
		}

			.habout-text {
				color: black;
				font-size: 1.5rem;
			}

	.home-gallery {
		/*height: 93vh;*/
		background-color: #e3e4e5;
	}

		.gallery-container {
			/*height: 100%;*/
			
		}
		
			.image-box {
				min-height: 29vh;
			}


				.front {
					position: absolute;
					height: 100%;
					width: 100%;
					transform: perspective(500px) rotateY(0deg);
					transition: transform 0.5s linear;
					backface-visibility: hidden;
					border-radius: 5px;
				}

				.back {
					position: absolute;
					height: 100%;
					width: 100%;
					background-color: #FF7400;
					color: black;
					transform: perspective(500px) rotateY(180deg);
					transition: transform 0.5s linear;
					backface-visibility: hidden;
					border-radius: 5px;
				}

				.image-box:hover > .front {
					transform: rotateY(-180deg);
				}

				.image-box:hover > .back {
					transform: rotateY(0deg);
				}

				.image1 {
					background-image: url("../images/project1.jpg");
					background-position: center;
					background-size: cover;
				}

				.image2 {
					background-image: url("../images/project2.jpg");
					background-position: center;
					background-size: cover;
				}

				.image3 {
					background-image: url("../images/project3.jpg");
					background-position: bottom;
					background-size: cover;
				}

				.image4 {
					background-image: url("../images/project4.jpg");
					background-position: center;
					background-size: cover;
				}

				.image5 {
					background-image: url("../images/project5.jpg");
					background-position: top;
					background-size: cover;
				}

				.image6 {
					background-image: url("../images/project6.jpg");
					background-position: center;
					background-size: cover;
				}

				.image7 {
					background-image: url("../images/project7.jpg");
					background-position: center;
					background-size: cover;
				}

				.image8 {
					background-image: url("../images/project8.jpg");
					background-position: center;
					background-size: cover;
				}

				.image9 {
					background-image: url("../images/project9.jpg");
					background-position: bottom;
					background-size: cover;
				}



	.home-footer {
		min-height: 6vh;
		background-color: #141414; /*incorporate to all applicable*/
	}
		.home-footer p {
			text-decoration: none;
			color: #FF7400;
			font-size: 1rem;
			font-family: 'Anton', sans-serif;

		}

		.home-footer a {
			text-decoration: none;
			color: #FF7400;
			font-size: 1.5rem;
		}


	/*Mobile Rules*/
	@media only screen and (max-width: 400px) {
		
		.habout-text {
			font-size: 0.8rem;
		}


		.home-footer {
			min-height: 7vh;
		}
			.home-footer p {
				text-decoration: none;
				color: #FF7400;
				font-size: 0.8rem;
			}
			
			.home-footer a {
				font-size: 1.5rem;
			}
	}
	/*End Mobile Rules*/


	/*Tablet Rules*/
	@media only screen and (min-width: 401px) and (max-width: 960px)  {
		.habout-text {
			color: black;
			font-size: 1.2rem;
		}
	}
	/*End Tablet Rules*/

/*End Home Styling*/

/*About Styling*/
.about-body {
	min-height: 87vh;
}

	/*.about-left {
		height: 87vh;
	}*/

	.about-right {
		border-left: 2px solid #383333;
	}

		.right-title {
			min-height: 5%;
			background-color: #383333;
			color: #f1f1f1;
		}

		.right-content {
		/*min-height: 10%;*/
		border: 1px solid black;
		}

	.left-content {
		/*border: 1px solid black;*/
		/*min-height: 40%;*/
	}


	/*Mobile Rules*/
	@media only screen and (max-width: 400px) {
		
		.about-right {
			border-left: none;
			border-top: 2px solid #383333;
		}

		.left-content h2 {
			font-size: 1rem;
		}

		.left-content p {
			font-size: 0.8rem;
		}

		.right-content {
			font-size: 0.8rem;
		}

	}
	/*End Mobile Rules*/


	/*Tablet Rules*/
	@media only screen and (min-width: 401px) and (max-width: 960px)  {
		
	}
	/*End Tablet Rules*/
	
	

/*End About Styling*/